<h3>Customers</h3>

<table class="table-dark">
    <thead>First Name</thead>
    <thead>Last Name</thead>
    @{ 
        foreach(var customer in ViewBag.Customers)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
            </tr>
        }
    }
</table>